body{
  background-color: #fff;
}

img{
  height: 250px;
  width: 230px;
}

h1,h2,h3{
  color: #000;
}

hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;
}

.love{
  color: grey;
}
